/* body {
  padding: 20px;
} */

footer {
  height: 10%;
  background-color: grey;
  position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    text-align: center;
    style: block;
}

.topics {
  width: 18%;
  height: 100px;
  float: left;
  text-align: center;
  border: 1px black solid;
  margin: 1px;
  border-radius: 5px;
  background-color: aqua;
}
