body {
  padding: 20px;
}


.topics {
  width: 40%;
  height: 100px;
  float: left;
  text-align: center;
  border: 1px black solid;
  margin: 5px;
  border-radius: 5px;
  background-color: aqua;
}

#topic-list {
  width: 33%;
  height: 100%;
  overflow: scroll;
  float: left;
}

#card-list {
  width: 60%;
  height: 100%;
  overflow: scroll;
}

footer {
  height: 10%;
  background-color: grey;
  position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    text-align: center;
    style: block;
}
